<div class="flex-container mt-10">
    <h2>
        Logged in as:
    </h2>
    <div *ngIf="(user$ | async) as user">
        <p> {{user.email}}</p>
        <p> {{user.uid}}</p>
        <div class="align-center">
            <button mat-stroked-button (click)="onLogout()">Logout</button>
        </div>
        <div *ngIf="(messages$ | async) as messages" class="chat-display mt-80">
            <h2>Messages: </h2>
            <p *ngFor="let message of sortMessages(messages)" class="mt-10">
                <span> {{message.email}}: </span>
                <span> {{message.content}} </span>
                <span></span>
            </p>
        </div>
        <mat-form-field class="mt-10 full-width">
            <mat-label>Message</mat-label>
            <textarea #messageInput matInput></textarea>
        </mat-form-field>
        <div class="align-center">
            <button mat-stroked-button (click)="addMessage(user.email, messageInput.value); messageInput.value = ''">Send</button>
        </div>
    </div>
</div>