<div class="flex-container">
    <h2>
        Create account
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="form.get('emailFormControl').invalid && form.get('emailFormControl').dirty">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="form.get('emailFormControl').errors?.required">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="passwordFormControl">
              <mat-error *ngIf="form.get('passwordFormControl').errors?.required">
                Password is <strong>required</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div class="align-center">
        <button mat-stroked-button type="submit" [disabled]="!(form.valid)">Create</button>
    </div>
    </form>
    <p *ngIf="(error$ | async) as error"> {{error}} </p>
</div>
